/*  Példa 1 */

.form2 input{
flex: 1;
}

.form2{
display: flex;
}

.form{
    margin: 20px;
}



/*  Példa 2 */

.main{
display: flex;
}

.big{
flex: 2;
order: 2;
}

.small1{
flex: 1;
order: 1;
}

.small2{
flex: 1;
order: 3;
}



/*  Példa 3 */

.main2{
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.lila{
background-color: purple;
}

.zold{
background-color: green;
}

.kek{
background-color: blue;
}

.kek,.zold,.lila{
    color:white;
    padding: 15px;
  box-sizing: border-box;
  margin: 10px;
  flex-basis: 30%;
  text-align: justify;
}

@media (min-width: 900px) {
    .main2 {
      display: flex;
      justify-content: space-between;
    }
  }



  /*    Példa 4 */

  .main3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .szam{
    width: 150px;
    height: 100px;
    background-color: darkred;
    text-align: center;
    font-size: 60px;
    margin: 1cm;
  }

  /*    Példa 5 */

  .main4{
width: 400px;
height: 250px;
background-color: rgb(40, 40, 40);
display: flex;
  }

  .kozepre{
color: white;
font-size: 1cm;
margin: auto;
  }

  .main5{
    width: 700px;
    height: 150px;
    background-color: rgb(50, 50, 50);
    display: flex;
    margin-top: 1cm;
  }

  .kozepre2{
      color: white;
    font-size: 1cm;
    margin: auto;
  }



  /*    Példa 6 */

  .main6{
display: flex;
height: 300px;
  }

  .bal{
flex: 1;
background-color: lightgray;
  }

  .jobb{
background-color: yellow;
flex: 1;
display: flex;
flex-direction: column;
  }

  .jobb1{
background-color: blue;
flex: 1;
  }

  .jobb2{
background-color: green;
flex: 1;
  }



  /*    Menü    */

  a{
      font-size: 70px;
      background-color: darkslategray;
      color: white;
      border-radius: 10px;
      height: 70px;
      width: 70px;
      text-decoration: none;
      flex:1;
      margin: 5px;
      text-align: center;
      padding-bottom:10px ;
  }

  .menu{
      display: flex;
      margin-bottom: 150px;
  }